# FastAPI 서버 구성
fastapi
uvicorn[standard]
python-multipart

# 모델 관련: faster-whisper + CTranslate2 (torch는 수동 설치 권장)
faster-whisper
ctranslate2
transformers # HuggingFace 모델을 읽어오기 위해 필요

# ct2-transformers-converter 
transformers # HuggingFace 모델을 읽어오기 위해 필요
torch
torchvision
torchaudio

# 오디오 처리
soundfile
numpy==1.26.4
scipy

# WebRTC VAD
webrtcvad

# 유틸
python-dotenv
loguru
aiofiles
pydantic-settings

# 텍스트 후처리
# git+https://github.com/haven-jeon/PyKoSpacing
